p {
  text-align: center;
  font-family: Montserrat;

}

.model3-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;


}

.description {
  margin: 100;
  cursor: pointer;


}